body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
h2 {
  margin: 0;
}

.header {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding-bottom: 3%;
}

.header .right-side {
  margin-right: 10%;
}

.header .left-side {
  margin-left: 10%;
}

.header .logo {
  font-size: 24px;
  color: #f9faf4;
  font-weight: bold;
}

.header a,
.header li {
  display: inline;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.header li {
  padding-right: 25px;
}

.container-one {
  display: flex;
  flex-direction: row;
  min-height: 300px;
  background-color: #1f2937;
}

.container-one .box-one {
  width: 500px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}

.container-one h2 {
  color: white;
  font-size: 48px;
  margin-bottom: 0;
}

.container-one p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.container-one button {
  background-color: darkblue;
  height: 26px;
  width: 100px;
  cursor: pointer;
}

.container-one a {
  text-decoration: none;
  color: white;
}

.container-one .box-two {
  width: 500px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.container-one img {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.container-two {
  padding-top: 2%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.container-two .box-one h2 {
  display: flex;
  margin-bottom: 1%;
  justify-content: center;
  align-content: center;
  font-size: 38px;
  font-weight: bolder;
  color: #1f2937;
}

.container-two .box-two {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.container-two img {
  width: 75%;
  height: auto;
}

.cards {
  width: 240px;
  height: auto;
  margin-right: 30px;
  margin-left: 30px;
}

.container-three {
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: #e5e7eb;
}

.container-three h2 {
  text-align: center;
  font-size: 38px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 2%;
}

.container-three .quote {
  margin-left: 20%;
  margin-right: 20%;
}

.container-three .quote {
  font-size: 20px;
  color: #1f2937;
  font-style: italic;
}

.container-three .author {
  font-size: 15px;
  color: black;
  font-weight: bolder;
  text-align: right;
  margin-top: 1%;
  margin-left: 30%;
  margin-bottom: 3%;
}

.container-four {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.container-four .box-one {
  width: 800px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  border-radius: 8px;
}

.container-four .left-side {
  margin-left: auto;
  margin-right: auto;
}

.container-four h2 {
  color: white;
  font-weight: bold;
}

.container-four p {
  color: #e5e7eb;
}

.container-four .right-side {
  margin-left: auto;
  margin-right: auto;
}

.container-four button {
  width: 100px;
  height: 30px;
  background-color: #3882f6;
  cursor: pointer;
  border: 1.5px solid white;
  border-radius: 8px;
}

.container-four a {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

.footer {
  height: 50px;
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1f2937;
}

@media (max-width: 800px) {
  .header,
  .container-one,
  .container-two,
  .container-three,
  .container-four {
    flex-direction: column;
  }

  .header {
    margin-left: 0%;
    margin-right: 0%;
  }
  .container-one .box-one,
  .container-one .box-two {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }
  .container-one img {
    margin-top: 5%;
    width: 350px;
    height: 180px;
  }

  .container-three .quote {
    text-align: left;
  }

  .container-four .box-one {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .container-four .left-side h2 {
    margin-bottom: 1%;
  }
  .container-four .right-side {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
  }
}
